body {
  font-family: "Arial", sans-serif;
  background-image: url("../../images/Designer.png") no-repeat center center
    fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff5722;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #e64a19;
}

.weather-info {
  text-align: center;
}

.error {
  color: #ff5722;
  margin-top: 10px;
}
